:root {
  --var-text-color: #97ac9f;
  --var-header-color: #97ac9f;
  --var-active-yellow: #fffb7e;
  --var-col-black: #000000;
  --var-col-grey: #515854;
  --var-col-dark-grey: #222222;
  --var-transparent: #22222200;
  --var-col-dark-green: #1b2421;
}
body {
  font-family: "aktiv-grotesk", sans-serif;
  background-color: var(--var-col-dark-grey);
  /* font-family: "aktiv-grotesk-thin",sans-serif; */
}
* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
/* p {
  line-height: 1.8rem;
} */
/* 
MARK:header
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  height: 67px;
  transition: 0.3s;
  position: absolute;
  top: 0;
  width: 100%;
  color: var(--var-col-black);
}
.header-bar {
  width: 100%;
  height: 67px;
  transition: 0.3s;
}
.burger-menu {
  background-color: var(--var-text-color);
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s;
}
.burger-menu nav {
  width: 100%;
  height: 100%;
  margin-top: 67px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.burger-menu nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.burger-menu nav ul li {
  list-style-type: none;
  font-size: 2rem;
  font-weight: 900;
}
.burger-menu nav ul li:hover a {
  text-decoration: underline;
}
.visit-aw-remastered {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
  border: 1px solid var(--var-col-black);
  padding: 5px 15px;
  transition: 0.1s;
}
.visit-aw-remastered:hover {
  background-color: var(--var-col-black);
  color: var(--var-text-color);
}
.logo-and-buy {
  display: flex;
  align-items: center;
  gap: 50px;
}
.logo-header {
  display: block;
  height: 37px;
  cursor: pointer;
  filter: brightness(100%); /* lower = darker */
}
.buy-element {
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  color: var(--var-header-color);
  font-weight: 900;
  border: 1px solid var(--var-header-color);
}
.buy-element:hover {
  color: var(--var-active-yellow);
  border: 1px solid var(--var-active-yellow);
  transition: 0.3s;
}
.language {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: var(--var-header-color);
  cursor: pointer;
  fill: none;
}
.language-and-burger-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}
.globe-icon circle,
.globe-icon ellipse,
.globe-icon line {
  stroke: var(--var-header-color);
}
.language:hover .globe-icon circle,
.language:hover .globe-icon ellipse,
.language:hover .globe-icon line,
.language:hover span {
  stroke: var(--var-active-yellow);
  color: var(--var-active-yellow);
  transition: 0.3s;
}
.language:hover .language-dropdown {
  display: block;
  transition: 0.3s;
}
.burger-btn line {
  stroke: var(--var-header-color);
  transition: 0.1s;
}
.burger-btn:hover {
  cursor: pointer;
}
.burger-btn:hover line {
  stroke: var(--var-active-yellow);
}
.bbtn-active #line1 {
  transform: translateY(8.5px) rotate(45deg);
  transform-box: fill-box;
  transform-origin: center;
}
.bbtn-active #line2 {
  transform: scaleX(0);
  transform-box: fill-box;
  transform-origin: center;
}
.bbtn-active #line3 {
  transform: translateY(-8.5px) rotate(-45deg);
  transform-box: fill-box;
  transform-origin: center;
}
.language-dropdown {
  display: none;
  position: absolute;
  top: 37px;
  width: 130px;
  padding: 20px;
  background-color: var(--var-col-black);
}
.language-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.language-dropdown a:hover {
  color: var(--var-active-yellow);
}

/* 
MARK:hero section
*/
.hero-section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#hero-image {
  position: absolute;
  top: 0;
  background-color: var(--var-col-black);
  background-image: url("/images/Alan_Wake_2_keyart_for_web3-2560x1318.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 2s;
  animation-name: heroImageFadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes heroImageFadeIn {
  to {
    opacity: 1;
  }
}
#logo-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-logo {
  width: 880px;
  max-width: 90%;
  height: auto;
  animation-delay: 1s;
  animation-name: mainLogoFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes mainLogoFadeIn {
  to {
    opacity: 1;
  }
}
h1 {
  color: rgba(255, 255, 255, 0);
  font-size: 1px;
  position: fixed;
  top: -100px;
}
/* 
MARK:slogan
*/
.slogan-section {
  width: 100%;
  background-color: var(--var-col-black);
  color: var(--var-text-color);
  padding: 75px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.slogan-section h2 {
  font-size: 40px;
  font-weight: 900;
}
.slogan-section p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hdtv-aspect-ratio {
  aspect-ratio: 16/9;
}
.cinematic-aspect-ratio {
  aspect-ratio: 21/9;
}
.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lake-house-image {
  width: 100%;
  background-image: url("/images/AW2_Lakehouse_DLC_trailer_thumbnail_4K-1920x1080.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-btn-svg {
  cursor: pointer;
  width: 142px;
  height: 142px;
  border-radius: 50%;
}
.play-btn-svg circle {
  fill: none;
  stroke: var(--var-active-yellow);
}
.play-btn-svg polygon {
  fill: var(--var-active-yellow);
  transition: transform 0.3s;
}
.play-btn-svg:hover polygon {
  transform: translateX(5px);
}
/* 
MARK: description
*/
.description-and-image-wrapper {
  color: var(--var-text-color);
  background-color: var(--var-col-black);
  display: flex;
  justify-content: center;
  width: 100%;
}
.description-centering-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-wrapper {
  background-color: var(--var-col-black);
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
  padding: 65px 50px 65px 50px;
}
.description-wrapper h2 {
  font-size: 2rem;
  font-weight: 900;
}
.description-wrapper button {
  all: unset;
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--var-col-black);
  background-color: var(--var-text-color);
  margin: 15px 0;
}
.image-wrapper {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CD-box-image {
  max-width: 700px;
  width: 100%;
  padding: 100px 0;
}
.tab {
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
  cursor: pointer;
  margin-bottom: 1rem;
}
/* 
MARK:carousel
*/
#carusel-background {
  background-image: url("/images/Preorder_background.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.arrows-container {
  align-self: flex-end;
  display: flex;
  gap: 50px;
  user-select: none;
}
.arrow {
  cursor: pointer;
}
#carousel-container {
  --item-size: calc((100vw - 200px) / 3 - 20px);
  display: block;
  position: relative;
}
#carousel {
  display: flex;
  gap: 20px;
  left: 0px;
  transition: left 0.3s ease-in-out;
  position: absolute;
}
.carousel-item {
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.carousel-item:hover img {
  transform: scale(1.05);
}
#carousel-indicator {
  width: 300px;
  height: 2px;
  background-color: var(--var-col-grey);
  align-self: center;
  cursor: pointer;
}
#carousel-indicator-slider {
  width: 180px;
  height: 2px;
  background-color: var(--var-text-color);
  margin-left: 0px;
  transition: margin-left 0.3s ease-in-out;
}
/* 
MARK:descriptions
*/
.description-and-image-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--var-text-color);
  background-color: var(--var-col-black);
  justify-items: center;
}
.to-right {
  justify-self: end;
}
.to-left {
  justify-self: start;
}
.description-wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}
.tabs-wrapper {
  display: flex;
  gap: 50px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.character-picture {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
}
.alan-wake-background {
  background-image: url("./images/Alan_Wake-1.jpg");
}
.saga-anderson-background {
  background-image: url("./images/Saga_Anderson.jpg");
}
.f-col {
  flex-direction: column;
}
.pacific-nw-background {
  background-image: url("./images/Bright_Falls.jpg");
}
.dark-place-background {
  background-image: url("./images/Dark_Place-2.jpg");
}
.tab-disabled {
  color: var(--var-col-grey);
  text-decoration: none;
}
/* 
MARK:cards
*/
.cards-wrapper {
  background-color: var(--var-col-dark-green);
  color: var(--var-text-color);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  justify-content: center;
  gap: 2rem;
  padding: 50px 2rem;
}
.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
  max-width: 425px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.c-bg-img {
  background-color: aqua;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}
.card:hover {
  cursor: pointer;
}
.card:hover .c-bg-img {
  transform: scale(1.1);
}
.card:hover p {
  color: var(--var-active-yellow);
}

.c1 {
  background-image: url("./images/AWII_Launch_049.png");
}
.c2 {
  background-image: url("./images/AWII_Launch_020.png");
}
.c3 {
  background-image: url("./images/AWII_Launch_16-10-23_036.png");
}
.card h2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.5rem;
  line-height: 2rem;
  text-transform: capitalize;
  z-index: 1;
}
.card p {
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 1;
  transition: color 0.3s;
}
/* 
MARK:contacts
*/
.contact-wrapper {
  color: var(--var-text-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 40px;
  gap: 20px;
  background-image: url("./images/AlanWake2_DET_4K_020-1920x1080.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
}
.stay-connected {
  justify-self: end;
  max-width: 630px;
}
.stay-connected h2 {
  font-size: 3rem;
  font-weight: 900;
}
.stay-connected p {
  font-size: 1.2rem;
  font-weight: 500;
}
.subscription-form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 630px;
}
.subscription-form a {
  font-size: 1rem;
}
.subscription-form p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: 1rem;
}
.required-indicator {
  color: var(--var-active-yellow);
  font-weight: 900;
}
.subscription-form input {
  background-color: var(--var-text-color);
  padding: 1.5rem 1rem;
  width: 100%;
}
.label-email {
  font-weight: 700;
}
input:user-invalid + .required-msg {
  display: block;
}
.consent-checkbox-container:has(#consent:user-invalid) + .required-msg {
  display: block;
}

#email:focus {
  outline: 5px var(--var-active-yellow) solid;
  outline-offset: 2px;
}
.subscription-form h3 {
  font-weight: 900;
}
.consent {
  display: flex;
  gap: 2rem;
}
.consent-checkbox-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: min-content;
  padding: 0.5rem;
  border: solid 1px var(--var-text-color);
}
.consent-checkbox-container input {
  width: 1rem;
  height: 1rem;
}
.consent-checkbox-container label {
  width: max-content;
  font-size: 1.2rem;
}
.subscription-form .required-msg {
  background-color: rgb(128, 30, 0);
  color: var(--var-active-yellow);
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 0.7rem;
  display: none;
}
button {
  all: unset;
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--var-col-black);
  background-color: var(--var-text-color);
  margin: 15px 0;
}
button:hover {
  background-color: var(--var-active-yellow);
  cursor: pointer;
}
p a {
  font-weight: 700;
  text-decoration: underline;
}
/* 
MARK:footer
*/
footer {
  background-color: var(--var-col-black);
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 50px;
}
ul {
  margin: 0;
  padding: 0;
}
footer li {
  list-style-type: none;
}
.social-icons ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.social-icons * {
  fill: var(--var-col-black);
}
.social-icons ul li a {
  display: block;
  background-color: var(--var-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin: 0 30px;
}
.social-icons ul li a:hover {
  cursor: pointer;
  background-color: var(--var-active-yellow);
}
.links-icons ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.links-icons ul li {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-icons ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.links-icons svg {
  fill: var(--var-text-color);
  width: 50%;
  height: auto;
}
.links-icons ul li svg:hover {
  fill: var(--var-col-grey);
  cursor: pointer;
}
.bottom {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.copyright {
  color: var(--var-text-color);
}
.pegi {
  width: 50px;
}

.copyright a {
  text-decoration: none;
}
.copyright a:hover {
  color: var(--var-active-yellow);
}
.hr {
  border: none;
  border-top: 1px solid var(--var-col-grey) 76;
  margin-bottom: 1rem;
}
