body {
  font-family: "aktiv-grotesk", sans-serif;
  background-color: rgb(31, 31, 31);
  /* font-family: "aktiv-grotesk-thin",sans-serif; */
}
* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.8rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-wrapper {
  background-color: rgb(32, 32, 32, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}
.logo-and-buy {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo-header {
  display: block;
  height: 37px;
  cursor: pointer;
}
.buy-element {
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  color: #97ac9f;
  font-weight: 900;
  border: 1px solid #97ac9f;
}
.buy-element:hover {
  color: yellow;
  border: 1px solid yellow;
  transition: 0.3s;
}
.language {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: #97ac9f;
  cursor: pointer;
  fill: none;
}
.language-and-burger-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}
.globe-icon circle,
.globe-icon ellipse,
.globe-icon line {
  stroke: #97ac9f;
}
.language:hover .globe-icon circle,
.language:hover .globe-icon ellipse,
.language:hover .globe-icon line,
.language:hover span {
  stroke: yellow;
  color: yellow;
  transition: 0.3s;
}
.language:hover .language-dropdown {
  display: block;
  transition: 0.3s;
}
.burger-btn line {
  stroke: #97ac9f;
}
.burger-btn:hover line {
  stroke: yellow;
  transition: 0.3s;
}
.language-dropdown {
  display: none;
  position: absolute;
  top: 37px;
  width: 130px;
  padding: 20px;
  background-color: black;
}
.language-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-section {
  height: 100vh;
  /* background-color: grey; */
  width: 100%;
  overflow: hidden;
  position: relative;
}
#hero-image {
  position: absolute;
  top: 0;
  background-color: black;
  background-image: url("/images/Alan_Wake_2_keyart_for_web3-2560x1318.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 2s;
  animation-name: heroImageFadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes heroImageFadeIn {
  to {
    opacity: 1;
  }
}
#logo-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

#main-logo {
  width: 880px;
  max-width: 90%;
  height: auto;
  animation-delay: 1s;
  animation-name: mainLogoFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes mainLogoFadeIn {
  to {
    opacity: 1;
  }
}
h1 {
  color: rgba(255, 255, 255, 0);
  font-size: 1x;
  position: fixed;
  top: -100px;
}
.slogan-section {
  width: 100%;
  background-color: black;
  color: #97ac9f;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.slogan-section h2 {
  font-size: 40px;
  font-weight: 900;
}
.slogan-section p {
  font-size: 20px;
  font-weight: 700;
}
.test {
  height: 100vh;
}
.section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hdtv-aspect-ratio {
  aspect-ratio: 16/9;
}
.cinematic-aspect-ratio {
  aspect-ratio: 21/9;
}
.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lake-house-image {
  width: 100%;
  background-image: url("/images/AW2_Lakehouse_DLC_trailer_thumbnail_4K-1920x1080.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-btn-svg {
  cursor: pointer;
  width: 142px;
  height: 142px;
  border-radius: 50%;
}
.play-btn-svg circle {
  fill: none;
  stroke: yellow;
}
.play-btn-svg polygon {
  fill: yellow;
  transition: transform 0.3s;
}
.play-btn-svg:hover polygon {
  transform: translateX(5px);
}
.description-and-image-wrapper {
  color: #97ac9f;
  background-color: black;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
  padding: 65px 50px 65px 50px;
}
.description-wrapper h2 {
  font-size: 2rem;
  font-weight: 900;
}
.description-wrapper button {
  all: unset;
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: black;
  background-color: #97ac9f;
  margin: 15px 0;
}
.image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CD-box-image {
  width: 100%;
  padding: 100px 0;
}
.tab {
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
  cursor: pointer;
  margin-bottom: 1rem;
}
#carusel-background {
  background-image: url("/images/Preorder_background.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.arrows-container {
  /* color: #97ac9f; */
  align-self: flex-end;
  display: flex;
  gap: 50px;
  user-select: none;
}
.arrow {
  cursor: pointer;
}

/* MARK: karusele */
#carousel-container {
  --item-size: calc((100vw - 200px) / 3 - 20px);
  display: block;
  /* height: var(--item-size); */
  position: relative;
}
#carousel {
  display: flex;
  gap: 20px;
  transition: left 0.3s ease-in-out;
  position: absolute;
}
.carousel-item {
  /* width: var(--item-size); */
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.carousel-item:hover img {
  transform: scale(1.05);
}
#carousel-indicator {
  width: 300px;
  height: 2px;
  background-color: #515854;
  align-self: center;
  cursor: pointer;
}
#carousel-indicator-slider {
  width: 180px;
  height: 2px;
  background-color: #97ac9f;
  transition: margin-left 0.3s ease-in-out;
}
